doctype html
html
    head
        title 메인 페이지
    body
        h1 도서 목록
        form(action="/books", method="get")
            button(type="submit") 도서 목록 보기
                    form(action="/", method="get")
            button(type="submit") 돌아가기